

.main {
  width: 90%;
  margin-top: 1%;
  margin-bottom: auto;
  margin-right: auto;
  margin-left: auto;
  border-radius: 20px;
  background-color: aliceblue;
  padding-bottom: 5%;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@import "react-slideshow-image/dist/styles.css";